
/* Importing a font similar to Apple's San Francisco for a clean look */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h1 {
    font-weight: 600;
    margin: 0;
}

#input-section, #duration-selection {
    max-width: 800px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 5px;
    text-align: center;
}

.input-field {
    display: flex; /* Use flexbox to align label and input on the same line */
    align-items: center; /* Align items vertically */
    margin: 10px 0;
}

label {
    flex-shrink: 0; /* Prevent label from shrinking */
    width: 260px; /* Increase width to prevent wrapping, adjust as needed */
    margin-right: 10px;
    text-align: right; /* Align text of label to the right */
}

input[type=number], button {
    flex-grow: 1; /* Allow input/button to take up remaining space */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: auto; /* Aligns input/button to the right */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

button {
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    border-radius: 20px; /* Rounded corners */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Smooth transition for hover effects */
    border: 1px solid transparent; /* Default border to transparent */
    outline: none; /* Remove outline */
    margin: 5px;
    width: auto;
}

/* Primary Button Styling */
button.primary {
    background-color: #007aff; /* Blue background */
    color: white; /* White text */
}

button.primary:hover {
    background-color: #005ecb; /* Darker blue on hover */
}

/* Secondary Button Styling */
button.secondary {
    background-color: #f5f5f7; /* Light grey background */
    color: #1d1d1f; /* Dark text */
    border-color: #d2d2d7; /* Light grey border */
}

button.secondary:hover {
    background-color: #e5e5ea; /* Slightly darker grey on hover */
}

button.greyed-out {
    background-color: #cccccc; /* Grey background */
    color: #666666; /* Darker grey text */
    cursor: not-allowed; /* Change cursor to indicate the button is disabled */
}

.results-container, .supplement-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Stack children vertically */
    margin: 20px auto; /* Center the container */
    max-width: 800px; /* Adjust or remove max-width as needed */
}

.results-section, .supplement-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 5px;
    margin-bottom: 20px;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.supplement-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.supplement-buttons button {
    padding: 5px 10px;
}

.hidden {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: auto; /* Center the table */
    margin-right: auto; /* Center the table */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

h3 {
    margin-top: 0;
}


input[type=number], button {
    width: calc(100% - 12px); /* Adjust width to prevent overflow */
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
    .input-field label {
        width: auto; /* Allow label width to be more flexible on smaller screens */
        text-align: left; /* Align text of label to the left for better readability */
        margin-bottom: 5px; /* Add space between label and input field */
    }

    .input-field {
        flex-direction: column; /* Stack label and input on top of each other */
    }

    input[type=number], button {
        width: 100%; /* Full width for smaller screens */
    }
}
