/* Importing a font similar to Apple's San Francisco for a clean look */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h1 {
    font-weight: 600;
    margin: 0;
}

#input-section, #duration-selection, #graph-section {
    max-width: 800px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 5px;
    text-align: center;
}

#graph-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    box-sizing: border-box;
}

canvas {
    width: 100% !important;
    height: auto !important;
}

.input-field {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

label {
    flex-shrink: 0;
    width: 260px;
    margin-right: 10px;
    text-align: right;
}

input[type=number], button {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: auto;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    border: 1px solid transparent;
    outline: none;
    margin: 5px;
    width: auto;
}

button.primary {
    background-color: #007aff;
    color: white;
}

button.primary:hover {
    background-color: #005ecb;
}

button.secondary {
    background-color: #f5f5f7;
    color: #1d1d1f;
    border-color: #d2d2d7;
}

button.secondary:hover {
    background-color: #e5e5ea;
}

button.greyed-out {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.results-container, .supplement-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    max-width: 800px;
}

.results-section, .supplement-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 5px;
    margin-bottom: 20px;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.supplement-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap; /* Prevents wrapping to a new line */
    width: 100%; /* Use the full width available */
}

.supplement-container span {
    margin-right: 10px; /* Space between question and buttons */
}

/* Optional: Adjust button spacing */
button.secondary {
    margin-left: 5px;
    margin-right: 5px;
}

.hidden {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

h3 {
    margin-top: 0;
}

input[type=number], button {
    width: calc(100% - 12px);
}

@media (max-width: 600px) {
    .input-field label {
        width: auto;
        text-align: left;
        margin-bottom: 5px;
    }

    .input-field {
        flex-direction: column;
    }

    input[type=number], button {
        width: 100%;
    }
}
